/* Palette - coolors.co/fffc4c-ffffff-d8d6d6-7f7c7c-1a1e26 

HSL
$color1: hsla(59%, 100%, 65%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(0%, 3%, 84%, 1);
$color4: hsla(0%, 1%, 49%, 1);
$color5: hsla(220%, 19%, 13%, 1);

RGB
$color1: rgba(255, 252, 76, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(216, 214, 214, 1);
$color4: rgba(127, 124, 124, 1);
$color5: rgba(26, 30, 38, 1);*/


body {
	margin: 0;
	font-family: Helvetica, "Replica Light";
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: 45rem 30rem 20rem 30rem 20rem;
}

.navbar {
	display: block;
	background-color: #1a1e26;
	position: fixed;
	top: 0;
	overflow: hidden;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar li {
	float: left;
}

.navbar a{
	display: block;
	font-style: normal;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.navbar a:hover {
	background-color: rgba(216, 214, 214, 1);
	color: #1a1e26;
}

.img-container {
	text-align: center;
	margin-top: 3.5rem;
}

#lake {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin: 0;
	/*height: 100%;*/
}

#challenge {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
	background-color:#7f7c7c;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	text-align: center;
}

#aboutme {
	background-color:#ffffff;
	grid-column: 1 / -1;
	grid-row: 2 / 3;
}

#links {
	background-color:#d8d6d6;
	grid-column: 1 / -1;
	grid-row: 3 / 4;
}

#contact {
	background-color:#ffffff;
	grid-column: 1 / -1;
	grid-row: 4 / 5;
}

footer {
	grid-column: 1 / -1;
	grid-row: 5 / -1;
}

.overtxt {
	 position: absolute; 
   top: 200px; 
   left: 25%; 
   width: 50%;
   color: #fff;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.55);
}

#overtxt { 
   color: white; 
   font: bold 24pt; 
   letter-spacing: -1px; 
   padding: 10px; 
}

.hidden-s1 {
	display: none;
	font: normal 20pt;
}

#adv-but {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
