/* Palette - coolors.co/fffc4c-ffffff-d8d6d6-7f7c7c-1a1e26 

HSL
$color1: hsla(59%, 100%, 65%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(0%, 3%, 84%, 1);
$color4: hsla(0%, 1%, 49%, 1);
$color5: hsla(220%, 19%, 13%, 1);

RGB
$color1: rgba(255, 252, 76, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(216, 214, 214, 1);
$color4: rgba(127, 124, 124, 1);
$color5: rgba(26, 30, 38, 1);*/

body {
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2rem 40rem 30rem 20rem 30rem 20rem;
}

.navbar {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	background-color: #1a1e26;
}

.nav {
	list-style-type: none;
  margin: 0;
  padding: 1em;
  float: right;
}

.nav li {
	display: inline;
	padding: 0.5em 1em 0.5em 1em;
}

.nav a{
	font-family: Verdana, Arial;
	font-style: normal;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.img-container {
	position: relative;
	grid-column: 2 / 12;
	grid-row: 2 / 3;
}

#lake {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin: 0;
  position: absolute;
	height: 100%;
}

#challenge {
	background-color:#7f7c7c;
	grid-column: 1 / -1;
	grid-row: 2 / 3;
}

#aboutme {
	background-color:#ffffff;
	grid-column: 1 / -1;
	grid-row: 3 / 4;
}

#links {
	background-color:#d8d6d6;
	grid-column: 1 / -1;
	grid-row: 4 / 5;
}

#contact {
	background-color:#ffffff;
	grid-column: 1 / -1;
	grid-row: 5 / 6;
}

footer {
	grid-column: 1 / -1;
	grid-row: 6 / -1;
}
